
@{
   
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hii Admin</title>
</head>
<body>
    <div>
        <p>This the first admin page</p>
    </div>
</body>
</html>
