@{
    ViewBag.Title = "Home";
 }

 <p><a href="@Url.RouteUrl("login")">click here </a>to login</p>
 @Html.RouteLink("click here","login") to login
 @section Scripts{
     <script>
         alert("hiii there!")
     </script>
}